:root{
  --clr-primary-1: #00068C;
  --clr-primary-2:rgba(54, 71, 158, 0.1);
  --clr-primary-3:#BDD7FF;
  --clr-primary-4:rgba(0, 6, 140, 0.7);
  --clr-primary-5:#36479E;;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
